In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from shapely.wkt import loads
import datetime

In [2]:
# Read the datasets

Gira_H1 = pd.read_csv('Gira_H1.csv')
Gira_H2 = pd.read_csv('Gira_H2.csv')
Meteo = pd.read_csv('Lx_meteo.csv')

In [3]:
Gira_H1.head()

,desigcomercial,numbicicletas,numdocas,position,entity_ts,estado
0,417 - Av. Duque de Ávila / Jardim Arco Do Cego,3,23,"{""coordinates"":[-9.142703,38.735352],""type"":""P...",2022-01-01T13:38:03.130Z,active
1,446 - Av. República / Interface Entrecampos,25,40,"{""coordinates"":[-9.14773,38.74456],""type"":""Poi...",2022-01-01T13:38:04.625Z,active
2,416 - Av. República / Avenida Duque de Ávila,6,16,"{""coordinates"":[-9.14553,38.735304],""type"":""Po...",2022-01-01T13:38:03.751Z,active
3,103 - Jardim da Água,16,20,"{""coordinates"":[-9.095019,38.761218],""type"":""P...",2022-01-01T13:38:04.204Z,active
4,415 - Av. Duque de Ávila / Av. Conde Valbom,9,20,"{""coordinates"":[-9.148443,38.735188],""type"":""P...",2022-01-01T13:38:04.179Z,active

In [4]:
Gira_H2.head()

,desigcomercial,numbicicletas,numdocas,position,entity_ts,estado
0,135 - Avenida Cidade de Lourenço Marques / Val...,7,20,"{""coordinates"":[-9.118689,38.764067],""type"":""P...",2022-07-27T15:53:45.206Z,active
1,456 - Entrecampos / Av. das Forças Armadas,18,41,"{""coordinates"":[-9.14872,38.74877],""type"":""Poi...",2022-07-27T15:53:46.819Z,active
2,132 - Avenida de Berlim / Rua Cidade de Cabinda,2,25,"{""coordinates"":[-9.11255,38.76829],""type"":""Poi...",2022-07-27T15:53:44.936Z,active
3,206 - Av. Brasília / Doca de Alcântara,10,22,"{""coordinates"":[-9.17502,38.70141],""type"":""Poi...",2022-07-27T15:53:40.553Z,active
4,555 - Alameda das Linhas de Torres,1,33,"{""coordinates"":[-9.160248,38.770657],""type"":""P...",2022-07-27T15:53:46.255Z,active

In [5]:
Meteo.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,lisbon,2022-01-01,20.0,11.5,14.5,20.0,11.5,14.5,10.2,76.0,...,7.6,4,NaN,2022-01-01T07:54:51,2022-01-01T17:25:41,0.96,"Rain, Partially cloudy",Partly cloudy throughout the day with early mo...,rain,"08535099999,08534099999,D7126,08536099999,LPPT..."
1,lisbon,2022-01-02,15.9,13.0,14.4,15.9,13.0,14.4,13.4,94.1,...,6.7,4,NaN,2022-01-02T07:54:59,2022-01-02T17:26:30,0.00,"Rain, Overcast",Cloudy skies throughout the day with late afte...,rain,"08535099999,08534099999,D7126,08536099999,LPPT..."
2,lisbon,2022-01-03,13.9,11.6,12.8,13.9,11.6,12.8,12.3,96.8,...,7.7,4,NaN,2022-01-03T07:55:04,2022-01-03T17:27:21,0.02,"Rain, Partially cloudy",Partly cloudy throughout the day with rain cle...,rain,"08535099999,08532099999,08534099999,D7126,0853..."
3,lisbon,2022-01-04,16.0,11.1,13.0,16.0,11.1,13.0,10.5,84.9,...,6.4,5,NaN,2022-01-04T07:55:07,2022-01-04T17:28:13,0.06,"Rain, Partially cloudy",Partly cloudy throughout the day with rain in ...,rain,"08535099999,08532099999,08534099999,D7126,0853..."
4,lisbon,2022-01-05,15.5,10.4,12.4,15.5,10.4,12.4,9.8,84.7,...,5.0,4,NaN,2022-01-05T07:55:08,2022-01-05T17:29:06,0.09,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,"08535099999,08532099999,08534099999,D7126,0853..."

In [6]:
Gira_H1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1555396 entries, 0 to 1555395
Data columns (total 6 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   desigcomercial  1555396 non-null  object
 1   numbicicletas   1555396 non-null  int64
 2   numdocas        1555396 non-null  int64
 3   position        1555396 non-null  object
 4   entity_ts       1555396 non-null  object
 5   estado          1555396 non-null  object
dtypes: int64(2), object(4)
memory usage: 71.2+ MB

In [7]:
Gira_H2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2382896 entries, 0 to 2382895
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   desigcomercial  object
 1   numbicicletas   int64
 2   numdocas        int64
 3   position        object
 4   entity_ts       object
 5   estado          object
dtypes: int64(2), object(4)
memory usage: 109.1+ MB

In [8]:
Meteo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              365 non-null    object
 1   datetime          365 non-null    object
 2   tempmax           365 non-null    float64
 3   tempmin           365 non-null    float64
 4   temp              365 non-null    float64
 5   feelslikemax      365 non-null    float64
 6   feelslikemin      365 non-null    float64
 7   feelslike         365 non-null    float64
 8   dew               365 non-null    float64
 9   humidity          365 non-null    float64
 10  precip            365 non-null    float64
 11  precipprob        365 non-null    int64
 12  precipcover       365 non-null    float64
 13  preciptype        154 non-null    object
 14  snow              356 non-null    float64
 15  snowdepth         356 non-null    float64
 16  windgust          365 non-null    float64
 17  windspeed         365 non-null    float64
 18  winddir           365 non-null    float64
 19  sealevelpressure  365 non-null    float64
 20  cloudcover        365 non-null    float64
 21  visibility        365 non-null    float64
 22  solarradiation    365 non-null    float64
 23  solarenergy       365 non-null    float64
 24  uvindex           365 non-null    int64
 25  severerisk        356 non-null    float64
 26  sunrise           365 non-null    object
 27  sunset            365 non-null    object
 28  moonphase         365 non-null    float64
 29  conditions        365 non-null    object
 30  description       365 non-null    object
 31  icon              365 non-null    object
 32  stations          365 non-null    object
dtypes: float64(22), int64(2), object(9)
memory usage: 94.2+ KB

In [9]:
# Concatenate Gira Tables
Concatenate = [Gira_H1, Gira_H2]

gira = pd.concat(Concatenate)

In [10]:
gira.head()

,desigcomercial,numbicicletas,numdocas,position,entity_ts,estado
0,417 - Av. Duque de Ávila / Jardim Arco Do Cego,3,23,"{""coordinates"":[-9.142703,38.735352],""type"":""P...",2022-01-01T13:38:03.130Z,active
1,446 - Av. República / Interface Entrecampos,25,40,"{""coordinates"":[-9.14773,38.74456],""type"":""Poi...",2022-01-01T13:38:04.625Z,active
2,416 - Av. República / Avenida Duque de Ávila,6,16,"{""coordinates"":[-9.14553,38.735304],""type"":""Po...",2022-01-01T13:38:03.751Z,active
3,103 - Jardim da Água,16,20,"{""coordinates"":[-9.095019,38.761218],""type"":""P...",2022-01-01T13:38:04.204Z,active
4,415 - Av. Duque de Ávila / Av. Conde Valbom,9,20,"{""coordinates"":[-9.148443,38.735188],""type"":""P...",2022-01-01T13:38:04.179Z,active

In [11]:
gira.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3938292 entries, 0 to 2382895
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   desigcomercial  object
 1   numbicicletas   int64
 2   numdocas        int64
 3   position        object
 4   entity_ts       object
 5   estado          object
dtypes: int64(2), object(4)
memory usage: 210.3+ MB

In [12]:
gira.dropna()

,desigcomercial,numbicicletas,numdocas,position,entity_ts,estado
0,417 - Av. Duque de Ávila / Jardim Arco Do Cego,3,23,"{""coordinates"":[-9.142703,38.735352],""type"":""P...",2022-01-01T13:38:03.130Z,active
1,446 - Av. República / Interface Entrecampos,25,40,"{""coordinates"":[-9.14773,38.74456],""type"":""Poi...",2022-01-01T13:38:04.625Z,active
2,416 - Av. República / Avenida Duque de Ávila,6,16,"{""coordinates"":[-9.14553,38.735304],""type"":""Po...",2022-01-01T13:38:03.751Z,active
3,103 - Jardim da Água,16,20,"{""coordinates"":[-9.095019,38.761218],""type"":""P...",2022-01-01T13:38:04.204Z,active
4,415 - Av. Duque de Ávila / Av. Conde Valbom,9,20,"{""coordinates"":[-9.148443,38.735188],""type"":""P...",2022-01-01T13:38:04.179Z,active
...,...,...,...,...,...,...
2382891,479 - Rua Professor Oliveira Marques,10,13,"{""coordinates"":[-9.15724,38.75491],""type"":""Poi...",2023-02-16T11:47:16.000Z,active
2382892,513 - Rua Guiomar Torresão/Metro de Carnide,0,20,"{""coordinates"":[-9.19216,38.758691],""type"":""Po...",2023-02-16T11:47:16.000Z,repair
2382893,410 - Rua da Mesquita / Universidade Nova de L...,0,40,"{""coordinates"":[-9.16015,38.73492],""type"":""Poi...",2023-02-16T12:27:31.000Z,repair
2382894,410 - Rua da Mesquita / Universidade Nova de L...,0,40,"{""coordinates"":[-9.16015,38.73492],""type"":""Poi...",2023-02-16T12:07:30.000Z,repair
2382895,435 - Interface de Sete Rios,5,43,"{""coordinates"":[-9.166955,38.740579],""type"":""P...",2023-02-16T12:27:31.000Z,active

In [13]:
gira['ID'] = gira['desigcomercial'].apply(lambda x: x.split('-')[0])

In [14]:
gira.head()

,desigcomercial,numbicicletas,numdocas,position,entity_ts,estado,ID
0,417 - Av. Duque de Ávila / Jardim Arco Do Cego,3,23,"{""coordinates"":[-9.142703,38.735352],""type"":""P...",2022-01-01T13:38:03.130Z,active,417
1,446 - Av. República / Interface Entrecampos,25,40,"{""coordinates"":[-9.14773,38.74456],""type"":""Poi...",2022-01-01T13:38:04.625Z,active,446
2,416 - Av. República / Avenida Duque de Ávila,6,16,"{""coordinates"":[-9.14553,38.735304],""type"":""Po...",2022-01-01T13:38:03.751Z,active,416
3,103 - Jardim da Água,16,20,"{""coordinates"":[-9.095019,38.761218],""type"":""P...",2022-01-01T13:38:04.204Z,active,103
4,415 - Av. Duque de Ávila / Av. Conde Valbom,9,20,"{""coordinates"":[-9.148443,38.735188],""type"":""P...",2022-01-01T13:38:04.179Z,active,415

In [15]:
gira['station'] = gira['desigcomercial'].apply(lambda x: x.split('-')[1])
gira = gira.drop('desigcomercial', axis=1)

In [16]:
gira.head()

,numbicicletas,numdocas,position,entity_ts,estado,ID,station
0,3,23,"{""coordinates"":[-9.142703,38.735352],""type"":""P...",2022-01-01T13:38:03.130Z,active,417,Av. Duque de Ávila / Jardim Arco Do Cego
1,25,40,"{""coordinates"":[-9.14773,38.74456],""type"":""Poi...",2022-01-01T13:38:04.625Z,active,446,Av. República / Interface Entrecampos
2,6,16,"{""coordinates"":[-9.14553,38.735304],""type"":""Po...",2022-01-01T13:38:03.751Z,active,416,Av. República / Avenida Duque de Ávila
3,16,20,"{""coordinates"":[-9.095019,38.761218],""type"":""P...",2022-01-01T13:38:04.204Z,active,103,Jardim da Água
4,9,20,"{""coordinates"":[-9.148443,38.735188],""type"":""P...",2022-01-01T13:38:04.179Z,active,415,Av. Duque de Ávila / Av. Conde Valbom

In [17]:
gira.rename(columns = {'numbicicletas':'bikes_avail', 'numdocas':'total_docks', 'entity_ts':'timestamp', 'estado':'state'}, inplace = True)

In [18]:
gira.head()

,bikes_avail,total_docks,position,timestamp,state,ID,station
0,3,23,"{""coordinates"":[-9.142703,38.735352],""type"":""P...",2022-01-01T13:38:03.130Z,active,417,Av. Duque de Ávila / Jardim Arco Do Cego
1,25,40,"{""coordinates"":[-9.14773,38.74456],""type"":""Poi...",2022-01-01T13:38:04.625Z,active,446,Av. República / Interface Entrecampos
2,6,16,"{""coordinates"":[-9.14553,38.735304],""type"":""Po...",2022-01-01T13:38:03.751Z,active,416,Av. República / Avenida Duque de Ávila
3,16,20,"{""coordinates"":[-9.095019,38.761218],""type"":""P...",2022-01-01T13:38:04.204Z,active,103,Jardim da Água
4,9,20,"{""coordinates"":[-9.148443,38.735188],""type"":""P...",2022-01-01T13:38:04.179Z,active,415,Av. Duque de Ávila / Av. Conde Valbom

In [19]:
cols = ['ID','timestamp','station','bikes_avail','total_docks','state','position']

In [20]:
gira = gira[cols]

In [21]:
gira.head(20)

,ID,timestamp,station,bikes_avail,total_docks,state,position
0,417,2022-01-01T13:38:03.130Z,Av. Duque de Ávila / Jardim Arco Do Cego,3,23,active,"{""coordinates"":[-9.142703,38.735352],""type"":""P..."
1,446,2022-01-01T13:38:04.625Z,Av. República / Interface Entrecampos,25,40,active,"{""coordinates"":[-9.14773,38.74456],""type"":""Poi..."
2,416,2022-01-01T13:38:03.751Z,Av. República / Avenida Duque de Ávila,6,16,active,"{""coordinates"":[-9.14553,38.735304],""type"":""Po..."
3,103,2022-01-01T13:38:04.204Z,Jardim da Água,16,20,active,"{""coordinates"":[-9.095019,38.761218],""type"":""P..."
4,415,2022-01-01T13:38:04.179Z,Av. Duque de Ávila / Av. Conde Valbom,9,20,active,"{""coordinates"":[-9.148443,38.735188],""type"":""P..."
5,464,2022-01-01T13:38:03.650Z,Av. da Igreja / Rua Afonso Lopes Vieira,2,14,active,"{""coordinates"":[-9.148427,38.75165],""type"":""Po..."
6,476,2022-01-01T13:38:04.163Z,Av. Professor Gama Pinto / Reitoria,17,23,active,"{""coordinates"":[-9.15885,38.75231],""type"":""Poi..."
7,102,2022-01-01T13:38:02.966Z,Porta do Mar,2,14,active,"{""coordinates"":[-9.096439,38.759156],""type"":""P..."
8,216,2022-01-01T13:38:04.646Z,Praça D. Luís I,0,21,active,"{""coordinates"":[-9.14655,38.70663],""type"":""Poi..."
9,460,2022-01-01T13:38:04.507Z,Av. Rio de Janeiro / Parque de Jogos 1º de Maio,12,15,active,"{""coordinates"":[-9.13749,38.75176],""type"":""Poi..."
10,426,2022-01-01T13:38:03.283Z,Av. Elias Garcia / Av. 5 de Outubro,9,14,active,"{""coordinates"":[-9.14793,38.739046],""type"":""Po..."
11,105,2022-01-01T13:38:03.790Z,CC Vasco da Gama,15,40,active,"{""coordinates"":[-9.096222,38.768548],""type"":""P..."
12,150,2022-01-01T13:38:04.156Z,Avenida Dr. Francisco Luis Gomes / Go Fit,5,17,active,"{""coordinates"":[-9.111745,38.769665],""type"":""P..."
13,135,2022-01-01T13:38:04.079Z,Avenida Cidade de Lourenço Marques / Vale do,8,20,active,"{""coordinates"":[-9.118689,38.764067],""type"":""P..."
14,412,2022-01-01T13:38:04.024Z,Av. Ressano Garcia / Av. António Augusto de A...,4,16,active,"{""coordinates"":[-9.1546,38.73448],""type"":""Point""}"
15,410,2022-01-01T13:18:03.348Z,Rua da Mesquita / Universidade Nova de Lisboa,23,40,active,"{""coordinates"":[-9.16015,38.73492],""type"":""Poi..."
16,475,2022-01-01T13:18:03.564Z,Av. Professor Gama Pinto / Cantina Velha,26,41,active,"{""coordinates"":[-9.15907,38.75115],""type"":""Poi..."
17,474,2022-01-01T13:18:03.717Z,Av. do Brasil / Av. Rio de Janeiro,9,16,active,"{""coordinates"":[-9.1409,38.75832],""type"":""Point""}"
18,309,2022-01-01T13:18:03.572Z,Rua da Palma,1,10,active,"{""coordinates"":[-9.13577,38.71901],""type"":""Poi..."
19,208,2022-01-01T13:18:04.507Z,Cais das Pombas,6,22,active,"{""coordinates"":[-9.14373,38.70523],""type"":""Poi..."

In [22]:
Meteo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              365 non-null    object
 1   datetime          365 non-null    object
 2   tempmax           365 non-null    float64
 3   tempmin           365 non-null    float64
 4   temp              365 non-null    float64
 5   feelslikemax      365 non-null    float64
 6   feelslikemin      365 non-null    float64
 7   feelslike         365 non-null    float64
 8   dew               365 non-null    float64
 9   humidity          365 non-null    float64
 10  precip            365 non-null    float64
 11  precipprob        365 non-null    int64
 12  precipcover       365 non-null    float64
 13  preciptype        154 non-null    object
 14  snow              356 non-null    float64
 15  snowdepth         356 non-null    float64
 16  windgust          365 non-null    float64
 17  windspeed         365 non-null    float64
 18  winddir           365 non-null    float64
 19  sealevelpressure  365 non-null    float64
 20  cloudcover        365 non-null    float64
 21  visibility        365 non-null    float64
 22  solarradiation    365 non-null    float64
 23  solarenergy       365 non-null    float64
 24  uvindex           365 non-null    int64
 25  severerisk        356 non-null    float64
 26  sunrise           365 non-null    object
 27  sunset            365 non-null    object
 28  moonphase         365 non-null    float64
 29  conditions        365 non-null    object
 30  description       365 non-null    object
 31  icon              365 non-null    object
 32  stations          365 non-null    object
dtypes: float64(22), int64(2), object(9)
memory usage: 94.2+ KB

In [23]:
Meteo = Meteo.drop(columns = ['name','tempmax','tempmin','feelslikemax','feelslikemin','dew','humidity','precipprob',
                 'precipcover','preciptype','snow','snowdepth','windgust','windspeed','winddir','sealevelpressure','cloudcover',
                 'visibility','solarradiation','solarenergy','solarenergy','uvindex','severerisk','sunrise','sunset','moonphase',
                 'conditions','description','icon','stations'], axis = 1)

In [24]:
Meteo.head()

     datetime  temp  feelslike  precip
0  2022-01-01  14.5       14.5   0.094
1  2022-01-02  14.4       14.4   0.005
2  2022-01-03  12.8       12.8   0.198
3  2022-01-04  13.0       13.0   1.401
4  2022-01-05  12.4       12.4   2.704

In [34]:
Meteo.rename(columns = {'datetime':'date'}, inplace = True)

In [35]:
Meteo.head()

         date  temp  feelslike  precip
0  2022-01-01  14.5       14.5   0.094
1  2022-01-02  14.4       14.4   0.005
2  2022-01-03  12.8       12.8   0.198
3  2022-01-04  13.0       13.0   1.401
4  2022-01-05  12.4       12.4   2.704

In [ ]:
gira['date'] = gira['timestamp'].apply(lambda x: x.split('T')[0])

In [26]:
gira.head()

,ID,timestamp,station,bikes_avail,total_docks,state,position,date
0,417,2022-01-01T13:38:03.130Z,Av. Duque de Ávila / Jardim Arco Do Cego,3,23,active,"{""coordinates"":[-9.142703,38.735352],""type"":""P...",2022-01-01
1,446,2022-01-01T13:38:04.625Z,Av. República / Interface Entrecampos,25,40,active,"{""coordinates"":[-9.14773,38.74456],""type"":""Poi...",2022-01-01
2,416,2022-01-01T13:38:03.751Z,Av. República / Avenida Duque de Ávila,6,16,active,"{""coordinates"":[-9.14553,38.735304],""type"":""Po...",2022-01-01
3,103,2022-01-01T13:38:04.204Z,Jardim da Água,16,20,active,"{""coordinates"":[-9.095019,38.761218],""type"":""P...",2022-01-01
4,415,2022-01-01T13:38:04.179Z,Av. Duque de Ávila / Av. Conde Valbom,9,20,active,"{""coordinates"":[-9.148443,38.735188],""type"":""P...",2022-01-01

In [27]:
gira['time'] = gira['timestamp'].apply(lambda x: x.split('T')[1])

In [28]:
gira.head()

,ID,timestamp,station,bikes_avail,total_docks,state,position,date,time
0,417,2022-01-01T13:38:03.130Z,Av. Duque de Ávila / Jardim Arco Do Cego,3,23,active,"{""coordinates"":[-9.142703,38.735352],""type"":""P...",2022-01-01,13:38:03.130Z
1,446,2022-01-01T13:38:04.625Z,Av. República / Interface Entrecampos,25,40,active,"{""coordinates"":[-9.14773,38.74456],""type"":""Poi...",2022-01-01,13:38:04.625Z
2,416,2022-01-01T13:38:03.751Z,Av. República / Avenida Duque de Ávila,6,16,active,"{""coordinates"":[-9.14553,38.735304],""type"":""Po...",2022-01-01,13:38:03.751Z
3,103,2022-01-01T13:38:04.204Z,Jardim da Água,16,20,active,"{""coordinates"":[-9.095019,38.761218],""type"":""P...",2022-01-01,13:38:04.204Z
4,415,2022-01-01T13:38:04.179Z,Av. Duque de Ávila / Av. Conde Valbom,9,20,active,"{""coordinates"":[-9.148443,38.735188],""type"":""P...",2022-01-01,13:38:04.179Z

In [36]:
df = pd.merge(gira, Meteo, on = 'date')

In [37]:
df.head()

,ID,timestamp,station,bikes_avail,total_docks,state,position,date,time,temp,feelslike,precip
0,417,2022-01-01T13:38:03.130Z,Av. Duque de Ávila / Jardim Arco Do Cego,3,23,active,"{""coordinates"":[-9.142703,38.735352],""type"":""P...",2022-01-01,13:38:03.130Z,14.5,14.5,0.094
1,446,2022-01-01T13:38:04.625Z,Av. República / Interface Entrecampos,25,40,active,"{""coordinates"":[-9.14773,38.74456],""type"":""Poi...",2022-01-01,13:38:04.625Z,14.5,14.5,0.094
2,416,2022-01-01T13:38:03.751Z,Av. República / Avenida Duque de Ávila,6,16,active,"{""coordinates"":[-9.14553,38.735304],""type"":""Po...",2022-01-01,13:38:03.751Z,14.5,14.5,0.094
3,103,2022-01-01T13:38:04.204Z,Jardim da Água,16,20,active,"{""coordinates"":[-9.095019,38.761218],""type"":""P...",2022-01-01,13:38:04.204Z,14.5,14.5,0.094
4,415,2022-01-01T13:38:04.179Z,Av. Duque de Ávila / Av. Conde Valbom,9,20,active,"{""coordinates"":[-9.148443,38.735188],""type"":""P...",2022-01-01,13:38:04.179Z,14.5,14.5,0.094

In [39]:
df.to_csv('Gira_Meteo_Clean.csv')